<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('roles')"></head>
<body>
<div th:replace="layout :: header"></div>
<div th:replace="layout :: nav"></div>

        <section>
            <div class="container wrapper">
                <form method="post" th:object="${collaborators}"
                      th:action="" >
                    <label>Edit Collaborators: Website Project</label>
                    <ul class="checkbox-list">
                        <li><span class="primary" th:text="">Developer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select th:each="colab : ${collaborators}">
                                    <option th:value="${colab.name}">Michael Pemulis</option>
                                </select>
                            </div>
                        </li>

                        </li>
                        <li><span class="primary">DevOps</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Choose...</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button">
                        <a th:href="@{|/projects/${project.id}|}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>